.main{
display: grid;
grid-template-columns: 20% 80%;
}

body{
background-color: black;  
}


.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  z-index: 1000;
  gap: 10px;
  background-color: transparent;
  color: white;
  padding: 12px;
  font-family: Arial, sans-serif;
  font-size: 10px;
}

.sidebar-item {
  display: flex;
  align-items:center;
}

.categorias{
  display: flex;
  gap: 10px;
  color: white;
  align-items: center;
  justify-content: space-evenly;
  background-color: #272727;
  padding: 5px 5px;
  border-radius: 10px 10px;
  font-size: 15px;
  cursor: pointer;
  font-family: Arial, sans-serif;
}





