
main{
  display: grid;
  grid-template-columns: 7% 93%;
}

body {
  background-color: black;

}

.sidebar {
  display: flex;
  position: sticky;
  top: 100px;
  z-index: 1000;
  flex-direction: column;
  background-color: transparent;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 10px;
  gap: 20px;
  position: sticky;
  top: 100px;
}

.sidebar-item {
  display: flex;
}

.categorias {
  display: flex;
  color: white;
  align-items: center;
  background-color: #272727;
  padding: 8px 8px;
  border-radius: 10px 10px;
  cursor: pointer;
  font-family: Arial, sans-serif;
  border: none;
}

.categorias-larga {
  display: flex;
  padding: 7px 7px;
  justify-content: space-between;

}

.categorias:active {
  cursor: pointer;
  background-color: white;
  color: black;
}

.contenido {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  margin: 17px;
  gap: 10px;
  color: white;
}

.contenido img {
  width: 100%;
  border-radius: 15px 15px;
}

.video {
  display: flex;
  flex-direction: column;
}

.video:hover{
  background-color: #3f3f3f; 
  transition: all 0.2s ;
  cursor: pointer;
  padding: 5px;
  border-radius: 15px 15px;
}

.descripcion {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  margin-top: 10px;
  gap: 7px;
  font-family: Arial, sans-serif;
}

.descripcion img {
  border-radius: 50%;
}

.descripcion p {
  color: #909090;
  font-size: 14px;
}

.descripcion button {
  background-color: transparent;
  border: none;
  color: white;
}

.descripcion button:hover{
  background-color: #272727; 
  transition: all 0.2s ;
  cursor: pointer;
  border-radius: 20px 20px;

}

.shorts-titulo{
  display: grid;
  grid-template-columns: 5% 90% 5%;
  color:white;
  font-family: Arial, sans-serif;
  padding: 10px;
  margin-top: 30px;
}

.shorts{
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.video-shorts{
  display: flex;
  flex-direction: column;
}

.video-shorts img {
  display: flex;
  flex-direction: column;
  width: 218px;
  height: 388px;
  border-radius: 10px 10px;
}

.video-shorts-contenido{
  display: grid;
  grid-template-columns: 80% 20%;
  color: white;
  margin-top: 10px;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.video-shorts-contenido p{
  color: #909090;
}


.video-shorts-contenido button{
  background-color: transparent;
  border: none;
}
