nav {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 0 20px;
  height: 56px;  
}

.estatica{
  position: sticky;
  top: 0;
  z-index: 1000; 
  color: transparent;
}

.izquierda, .centro, .derecha {
  display: flex;
  align-items: center;
  color: white;
}


.izquierda {
  gap: 16px; 
  flex: 1; 
  width: 15px;  
}


.centro {
  flex: 2;   
  justify-content: center; 
  gap: 10px;
}

.microfono { 
  border-radius: 5px 5px; 

}

#buscador > input {
  background-color: transparent;
  border: 1px solid #313131;
  border-radius: 20px 0 0 20px;
  padding: 5px 10px;
  width: 100%;
  
}

#buscador > button {
  background-color: #313131;
  border-radius: 0 20px 20px 0;
  padding: 3px;
}


.derecha {
  flex: 1;
  justify-content: flex-end; 
  gap: 15px;
}

.boton {
  background-color:  #272727; 
  color: white;
  width: 35px; 
  height: 35px; 
  border-radius: 30px 30px; 
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  border: 1px solid #272727;
  
}

.campanita{
  background-color: transparent;
  border: none;
  color: white;
}

.campanita:hover{
  border-radius: 20px 20px;
  padding: 5px 5px;
}

.foto{
  border-radius: 20px 20px;
}

.transition-iten:hover{
  background-color: #3f3f3f;
  transition: background-color 0.2s ;
  cursor: pointer;
  }

.transition-todo:hover{
   background-color: #3f3f3f;
  transition: background-color 0.2s ;
  cursor: pointer;
}










