nav {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 0 16px;
  height: 56px;  
}

.estatica{
  position: sticky;
  top: 0;
  z-index: 1000; 
  color: transparent;
}

.izquierda, .centro, .derecha {
  display: flex;
  align-items: center;
  color: white;
}


.izquierda {
  gap: 16px; 
  flex: 1;   
}


.centro {
  flex: 2;   
  justify-content: center; 
  gap: 10px;
}


.derecha {
  flex: 1;
  justify-content: flex-end; 
  gap: 15px;
}

.boton {
  background-color: #3f3f3f; 
  color: white;
  width: 30px; 
  height: 30px; 
  border-radius: 30px 30px; 
  display: flex;
  justify-content: center;
  align-items: center;
   font-size: 18px;
}


.transition-iten:hover{
  background-color: #272727;
  transition: background-color 0.2s ;
  cursor: pointer;
}










